html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
p {
  text-align: center;
  font-size:xx-large;
  font-family: consolas, monospace;
  font-weight: bold;
}